
*{
margin:0;
padding:0;
font-family:Montserrat;
}
/*  GLOBAL  */
:root{
--bg:#2f3334;
--purple:#8d6bff;
--text:rgba(255,255,255,0.7);
}
@font-face {
  font-family:Montserrat;
  src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family:Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

li{
list-style:none;
}
a,
a:hover ,
a:active ,
a:focus {
text-decoration:none;
}

.container-fixed{
max-width:870px;
padding:0 1rem;
}
body{
background:var(--bg);
color:white;
}
.title,
.card-title {
text-transform:capitalize;
color:white;
font-family:Poppins;
}
.text,
.card-text{
color:rgba(255,255,255,0.7);
}
button:focus {
outline:none;
}
.button {
outline:none;
border:0;
padding:0.4rem 0.6rem;
background:transparent;
color:white;
border:1px solid white;
border-radius:0.4rem;
transition:0.2s;

}
.button:hover {
background:rgba(255,255,255,0.7);;
color:var(--bg);
}
/*  HOME  */

.home-page {
overflow:hidden;
padding:0;
margin:0;
position:relative;
z-index:1000;

}

.nav-container{
margin:0;
padding:0 1rem;
position:relative;
z-index:1000;
}
.nav{
justify-content:space-between;
align-items:center;
padding:0.25rem 0;
}

/*  nav lists  */ 
.nav .lists{
position:absolute;
top:0;
right:0;
width:80%;
min-height:100vh;
flex-direction:column;
justify-content:space-around;
align-items:center;
display:flex;
transition:0.5s ease-in-out;
background:black;
margin:0;
}
.nav .lists a{
color:var(--text);
font-size:1.6rem;
position:relative;
transition:0.1s ease-in-out;
font-family:Montserrat;
transition:0.1s;
} 
.nav .lists a:hover{
color:white;
}
.in-active{
transform:translateX(100%);
border-bottom-left-radius:80%;
}
.active-nav{
transform:translateX(0);
border-bottom-left-radius:0%;
}
.nav .logo{
font-size:1.5rem;
color:var(--purple);
}

/*  inner icons  */

.nav .inner-icons-container {
width:60%;
}
.nav .inner-icons{ 
display:flex;
justify-content:space-around;
width:100%;
} 


/* outer icons*/

.outer-icons {
display:none;
}
/*HAMBURGER MENU*/

.hamburger {
width: 3.6rem;
height: 1.8rem;
position: relative;
cursor: pointer;
line-height: 5rem;
z-index: 5000;
transform:scale(0.7);
transition-delay:0s;
}

.hamburger .line {
width: 100%;
height: 2px;
background:white;
position: absolute;
display: block;
right: 0;
transition: all 650ms;
transition-delay:0s;
}

.hamburger .line:nth-child(1) {
top: 0;
}

.hamburger .line:nth-child(2) {
top: 50%;
margin-top: -1px;
width: 2.8rem;

}

.hamburger .line:nth-child(3) {
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}

/*  MAIN  */
.main{
position:relative;
z-index:500;
margin:0;
}

.bg-black {
position:absolute;
left:15%;
top:100%;
transform:translateY(-100%);
z-index:-1;
width:80%;
-webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));
filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));
}
.bg-traingle {
display:none;
}

.main .columns{
padding:2rem 0;
}
.main .product-img {
width:100%;
}
.main .img-container {
display:flex;
justify-content:center;
align-items:center;

}
/*  FEATURES  */
.features-container {
padding:4rem 0 2rem 0;
position:relative;
margin-top:2.5rem;
}
.rect-big  {
display:none;
}


.features {
position:relative;
z-index:100;
}
.features .head{
margin-bottom:2rem;
}
.feature{
z-index:100;
margin-bottom:2rem;
position:relative;
}
.rect-small {
z-index:-1;
position:absolute;
top:50%;
transform:translateY(-50%);
left:-10%;
width:110%;
height:125%;
background:var(--bg);
border-radius:0.5rem;
-webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));
filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));

}
.features .icon{
color:var(--purple);
margin-bottom:0.7rem;
}
.feature .title{
margin-bottom:0.5rem;
}
/*  fields  */

.fields-container {
padding:1rem 0;
margin:2.5rem 0;
}
.fields{
padding:0;
}
.fields .field {
padding:0;
margin-top:1rem;
}
.fields .field-wrapper {
position:relative;
overflow:hidden;
}
.field .contents {
position:absolute;
top:5%;
left:50%;
transform:translateX(-50%);
width:80%;

}
.learn-more i{
margin-left:5px;
transform:translateY(1px);
}
.field .image{
width:100%;
transition:0.5s;
}
.field .image:hover {
transform:scale(1.1);
}
/*  explore*/

.explore-container {
padding:1rem 0;
background:rgba(28,28,28,0.4);
}
.explore .content{
padding:1rem 0;
}
.explore .title{
margin-bottom:0.5rem;
}
.explore .icon {
color:var(--purple);
margin-bottom:0.5rem;
}
.explore .learn-more {
color:var(--text);
}


/*  footer  */


footer{
padding:3rem 0 1rem 0;
color:var(--text);
}
.footer-title {
color:white;
}
footer .input-container {
margin:0.5rem 0;
position:relative;
width:200px;
border-bottom:1px solid white;
}
footer .input-container input{
border:0;
outline:0;
width:90%;
background:transparent;
padding:0 0.4rem;
color:white;
}
footer .input-container i {
 position:absolute;
 right:3px;
 top:50%;
 transform:translateY(-50%);
}
footer .policy span{
color:var(--purple);
}
footer .footer-title,
footer .input-container {
margin-bottom:1.5rem;
}

@media screen and (min-width: 768px){

.home-page  .rect {
bottom:30%;
left:40%;
display:block;
transform:scaleX(1.4) scaleY(1.3) ;
}

/*  SVGS  */

.bg-black {
transform:none;
position:absolute;
left:15%;
top:5%;
z-index:-1;
width:80%;
height:85%;
-webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));
filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .4));
}
.bg-traingle {
display:block;
position:absolute;
left:10%;
top:60%;
z-index:-2;
transform:rotate(35deg);
}

.nav{
padding:0.25rem 1rem;
}
.nav .inner-icons {
display:none;
}
.nav .logo{
padding:0.5rem;
}
.nav .lists{
visibility:visible;
position:static;
min-height:auto;
width:auto;
flex-direction:row;
transform:translateX(0);
margin-bottom:0;
background:none;

}
.nav .lists li{
margin-right:1.5rem;
}
.nav a{
padding:0.5rem 0;
}
.nav .lists a{
font-size:1rem;
}
.nav .hamburger {
display:none;
}
.outer-icons {
display:block;
}
.outer-icons i{
margin-right:1rem;
}
/*  MAIN  */
.main{
padding:5rem 2.5rem 7rem 2.5rem;

}

.main .column-1 {
padding:2rem 4rem 2rem 0;
}
.main .title ,
.main .text{
margin-bottom:2rem;
}
.main .img-container{
padding:0;
display:flex;
justify-content:flex-end;
align-items:center;

}


/*  features  */

.features-container {
position:relative;
z-index:10;
}
.features{
z-index:20;
}
.rect-big  {
display:block;
position:absolute;
background:var(--bg);
top:60%;
transform:translateY(-50%);
width:95%;
height:60%;
z-index:1;
-webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, .5));
filter: drop-shadow( 0 0 4px rgba(0, 0, 0, .5));

}


.rect-small {
display:none;
}
.feature{
margin-bottom:0;

}
.feature .card-text {
padding:0 0.5rem;

}
.features-container {
margin-top:3rem;
padding:4rem 0;
}

.features .head {
margin-bottom:2rem;
}
.features .row{
justify-content:center;
}
.features .feature {
padding:2rem 0;
}

/*  fields*/
.fields-container {
margin:3rem 0;
}
.fields .field-wrapper {
width:95%;
}

/*explore */
.explore .content{
padding:3rem 0;
}
 .explore .title{
 margin-bottom:1rem;
 }
 .explore .icon {
 color:var(--purple);
 margin-bottom:1rem;
 }
 
/*  footer  */
footer{
padding:5rem 0 2rem 0;
margin-bottom:0;
}


}

@media screen and (min-width: 992px){
.main{
 min-height:90vh;
display:flex;
justify-content:center;
align-items:center;
}

.main .title,
.main .text{
margin-bottom:2rem;
}

.bg-black{
left:25%;
}

.features-container {
margin-top:6rem;
padding:4rem 0;
}
.fields-container {
margin:6rem 0;
}


}
